/*style container*/
.container{
  margin-top: 100px;
}

/*style de la carte*/
.card{
  width:500px;
  margin-bottom: 20px;
  border-radius: 7px;
background-image: url('https://img.freepik.com/photos-gratuite/rendering-3d-fond-futuriste-abstrait-ondes-particules-colorees_1048-19326.jpg');
box-shadow:  7px 7px 14px #161616,
              -7px -7px 14px #303030;
}

/*style du message hello name*/
.message{
  color: aliceblue;
  text-align: center;
  border-radius: 8px;
  font-weight: 900;
}
h1{
  color: white;
}


