/*style container*/
.container{
  margin-top: 40px;
}

/*style de la carte*/
.card{
  margin-bottom: 20px;
  border-radius: 7px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  7px 7px 14px #cfcfcf,
              -7px -7px 14px #ffffff;
}

/*style du message hello name*/
.message{
  color: aliceblue;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(46, 67, 67);
  font-weight: 900;
}


